# Database Configuration
DATABASE_URL=postgres://postgres:postgres@users_db:5432/users_development

# Rails Configuration
RAILS_ENV=development

# Authentication
JWT_SECRET_KEY=your_jwt_secret_key_here
APP_SECRET_KEY=your_app_secret_key_here

# Service URLs
LOG_SERVICE_URL=http://localhost:3003/api
