<% flash.each do |key, value| %>
  <% next if key.blank? %>

  <div class="overflow-hidden top-20 left-0 fixed w-full z-40" data-controller="flash">
    <p data-flash-target="message" class="bg-<%= flash_color(key) %>-500 text-white text-center p-4 text-lg border-solid border-white w-full transition-transform ease-in-out duration-300">
      <%= value.html_safe %>
    </p>
  </div>
<% end %>
